@font-face
{
    font-family: noto;
    src: url(noto_fonts/NotoSans-Regular.ttf);
}

@font-face
{
    font-family: noto;
    src: url(noto_fonts/NotoSans-Bold.ttf);
    font-weight: bold;
}

@font-face
{
    font-family: noto;
    src: url(noto_fonts/NotoSans-Italic.ttf);
    font-style: italic;
}

@font-face
{
    font-family: noto;
    src: url(noto_fonts/NotoSans-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}
